{% extends 'user/admindash.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class = "topicheader" >
    ADMIN | Patient Appointment List 
</div>
<hr>
<div class ="history" >
<sub><a href="{% url 'appoint_history' %}">History</a></sub>
</div>
<br><br>

   

        <table class="table table-light table-hover table-bordered table-striped" style="width:1000px;">
            <thead class="bg-danger">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <!-- <th scope="col">Username</th> -->
                    <th scope="col">Date of appointment</th>
                    <th scope="col">Time of appointment</th>
                    <th scope="col">Appointment for</th>
                    <th scope="col">Medical Report</th>
                    <!-- <th scope="col">Address</th> -->
                    <th scope="col">Gender</th>
                    <th scope="col">Assign to</th>
                    <th scope="col">Actions</th>

                    
                </tr>
            </thead>
            <tbody>
                {% for t in appointments %}
                <tr>                
                    {% comment "" %} <!-- {% with t.patient.first_name|add:' '|add:t.patient.last_name as name %}
                            <h1>{{ name }}</h1>
                        {% endwith %} -->{% endcomment %}
                    
                    <td>{{ t.patient.first_name }}</td>
                    <td>{{ t.patient.last_name }}</td>
                    <td>{{ t.patient.email}}</td>
                    <!-- <td>{{ t.patient.username }}</td> -->
                    <td>{{ t.appointment_date }}</td>
                    <td>{{ t.appointment_time }}</td>
                    <td>{{ t.department }}</td>
                    <td><img src="{{ t.medical_report.url }}" alt="" height="40" width="40"></td>
                    
                    <!-- <td>{{ t.address }}</td> -->
                    <td>{{ t.gender }}</td>
                    <td>
                        <form action="{% url 'approve_appointment' %}" method="post">
                            {% csrf_token %}
                            <select name="assigneddoctor" id="assigneddoctor" class="assigneddoctor">
                                {% for doctor in doctors %}
                                    {% if doctor.department == t.department %}
                                        <option value="{{ doctor.id }}">{{ doctor.full_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="hidden" name="appid" value="{{ t.id }}">
                        </td>
                        <td>
                            <button class="btn btn-danger" type="submit" style = "width:auto;">Approve</button>
                        </form>
                        <button class="btn btn-danger" type="submit" style = "width:auto;"><a href="{% url 'reject_appointment' t.id %}">Reject</a></button>
                    </td>

                </tr>
                {% endfor %} 

            </tbody>
        
        </table>

    

{% endblock content %}