{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOSPITAL OPD MANAGEMENT SYSTEM</title>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
  <div>
		<div class="top">
			<div>
			 Contact Us +977 9812345678 | HOMS@hospital.com 
			</div>
		</div>
    <div class="logo">
			<div>
				
				<div class="container-flex">
				<div class="company-name"> <font color="#428bca"> Out Patient </font><font color="#000">Management System </font></div>
				<div class="nav-links"> 
					<a href="/"><p>HOME</p></a>
					<a href="/home/contactinfo/"><p>CONTACT US</p></a>
					<a href="/home/about/"><p>ABOUT US</p></a> 
					<a href="/patient/patient_register/"><p>REGISTER</p></a>  
				</div>
				</div>
      </div>
    </div>
        <div class="About" style="font-size:2rem;
        line-height: 4.1;
        text-align: center;
        font-size: 3em;
        font-family:forte;"> <font color="#000">About US</font>
        </div>
        <div class = "aboutinfo" style="text-align: center; font-family:open sans; font-size: 2em;">
        <p>Our hospital OPD Management System is very User-friendly system.<br> 
          Multiple users can use this System.Our System will help you to book an appointment online without any difficulty.<br>
           You can register yourself and book an appointment for the department you need.</p>
        </div>
       
</body>
</html>